.comment{
    padding: 20px;
    background: #184ce7;
    margin: 10px;
    border-radius: 10px;
}
.bold{
    font-weight: bold;
}
.counter{
    display: flex;
    justify-content: center;
    background-color: #184ce7;
    border-radius: 5px;
    height: 40px;
    align-items: center;
}
.selectedPage {
    font-weight: bold;
}
.pages{
    margin: 10px;
    cursor: pointer;
    padding: 5px 10px;
    background: #3779ff;
    border-radius: 5px;
}
.img{
    width: 100px;
}