.item{
    color: #000;
    font-size: 1rem;
    display: flex;
    padding: 10px;
    background-color: #eaeaea;
    margin: 20px;
    border-radius: 10px;
}
.item div{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
