.post{
    padding: 20px;
    background: #184ce7;
    margin: 10px;
    border-radius: 10px;
}
.bold{
    font-weight: bold;
}
.counter{
    display: flex;
    justify-content: center;
    background-color: #184ce7;
    border-radius: 5px;
    height: 40px;
    align-items: center;
}
.selectedPage {
    font-weight: bold;
}
.comment{
    padding: 10px;
    background: #184ce7;
    margin: 10px;
    border-radius: 10px;
}
.bold{
    font-weight: bold;
}

.pages{
    margin: 10px;
    cursor: pointer;
    padding: 5px 10px;
    background: #3779ff;
    border-radius: 5px;
}
.a{
    text-decoration: none;
    color: #ffbbbb;
}
.addItem{
    padding: 20px;
    background: #184ce7;
    margin: 10px;
    border-radius: 10px;
}
.addItem * {
    margin: 5px;
}
.button{
    color: #fff;
    border: none;
    background: #3779ff;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
}
.input{
    padding: 4px;
    font-size: 16px;
}
.subInput{
    font-size: 18px
}